<!DOCTYPE html>
<html>
  {% include head.html %}
  <link rel="stylesheet" href="{{ "/vendor/css/reveal.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/vendor/css/theme/white.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/vendor/lib/css/zenburn.css" | prepend: site.baseurl }}">
  <!--Add support for earlier versions of Internet Explorer -->
	<!--[if lt IE 9]>
	<script src="/vendor/lib/js/html5shiv.js"></script>
	<![endif]-->
  <body>
    <div class="reveal slide center">
        <div class="slides">
          
          <section data-markdown>
              <script type="text/template">
                + 名前 > 竹内宏佑
                + 使用言語 > [[Python](https://www.python.org/), [Haskell](https://www.haskell.org/), [Swift](http://www.apple.com/jp/swift/), [Java](http://docs.oracle.com/javase/jp/8/api/java/lang/package-summary.html)]
                + 中学くらいから[JavaScript](http://www.w3schools.com/js/)を初める
                + 大学で情報科学を専攻
                + 大学1年の後半からプログラミングの仕事
                + 大学3年に友人とメディアサイト[Whats](http://whats.be)の構築
                + サンフランシスコのデータ分析系のベンチャー
                + [株式会社Warrantee](http://www.warrantee.co.jp/)でCTOを務め、現在に至る
              </script>
              <aside class="notes">
                <p>竹内宏佑</p>
                <p>使用言語 -> Python, Haskell, Swift, Java</p>
                <p>中学くらいからJavaScriptのプログラミングを初める</p>
                <p>大学で情報科学を専攻</p>
                <p>1年の後半からプログラミングの仕事をするようになる</p>
                <p>3年に友人と、バイラルメディアサイト「Whats」の構築 -> 500強UUのサイトに</p>
                <p>1年後の夏に、単独でサンフランシスコのデータ分析系のベンチャーでインターン</p>
                <p>その後、株式会社WarranteeでCTOを務め、現在に至る -> これが一年前</p>
              </aside>
          </section>

          <section>
            <p>warranteeに入社直後は...</p>
            <img src="https://dl.dropboxusercontent.com/u/39427047/github/OGM/Warrantee.png" alt="gh-wrt-idx" width="400px"/>
            <aside class="notes">
              <p>1年前に、現在のWarranteeに入社した当時は、私は社内のプロジェクトマネジメントに何度も憤りました。</p>
              <p>会社ではモバイルアプリケーション、そのバックエンドAPIがメインで開発されていましたが、</p>
              <p>適当なGitのブランチ管理、まっさらなドキュメントしかなく、入って私がすぐできることといえば、</p>
              <p>ひたすら社内で開発されたコードを読みふけることだけでした。</p>
            </aside>
          </section>

          <section>
            <p>どこにもドキュメントがない！！</p>
            <img src="https://dl.dropboxusercontent.com/u/39427047/github/OGM/no-docs-anywhere.png" alt="gh-wrt-idx" width="650px"/>
            <aside class="notes">
              <p>現在日本の多くのベンチャーでは、システムの多くがRuby/Railsで書かれているため、(Rubyを愛するGitHubさん、ごめんなさい。私は心からPythonとHaskellが大好きです)</p>
              <p>大半のプロジェクトはうまくモジュール化されておらず、多くのコードが依存しあっているため、</p>
              <p>入社当初のプログラマが私と同じような状態に陥っていると思います。</p>

              <p>これはもちろん、プログラミング言語や、コードを書くプログラマのリファクタリング能力にもよると思いますが、</p>
              <p>如何せんベンチャー業界で特別優秀なエンジニアを取得することは困難です。</p>

              <p>これはアプリケーションに混在するコードだけの話でなく、そもそもアプリケーションの機能自体にも同じことがいえます。</p>

              <p>しかし、プログラミング言語の選択や、プログラマのコード管理技術の向上に比べて、アプリケーションの機能(いわゆるインターフェース)は、</p>
              <p>どの会社のものを見ても、意外と綺麗にモジュール化(Restful)されていると思います。(ここはRuby on Railsが社会に与えた恩恵でもあると思います)</p>
            </aside>
          </section>

          <section>
            <p>Githubでホスティングされている<br/>
            オープンソースプロジェクト</p>
            <img src="https://dl.dropboxusercontent.com/u/39427047/github/OGM/pymc.png" alt="gh-wrt-idx" width="600px"/>
            <aside class="notes">
              <p>すこし話がずれますが、みなさんが日常でGitHubを利用する機会といえば、やはりオープンソースのプロジェクトを検索する時だと思います。</p>
              <p>ベンチャー会社で限られたエンジニアリングのパワーを発揮するためには、できるだけプロジェクトのコアな部分以外(画像のアップローダやメールの送信など)は</p>
              <p>自力ではなく、世界の優秀なハッカーたちが作ってくれたオープンソースライブラリを使いまわして開発をすすめていかなければなりません。</p>
              <p>GitHubでホスティングされているオープンソースで人気の高いものの殆どは、READMEというライブラリのドキュメントがしっかり書かれています。</p>
              <p>これは初めてライブラリを見たユーザーに対して、ライブラリが何に使えるのかやどのようにして使うことができるのかなどを伝えるためです。</p>
            </aside>
          </section>

          <section>
            <p>そうだ、Wikiを書こう！</p>
            <img src="https://dl.dropboxusercontent.com/u/39427047/github/OGM/d3-wiki.png" alt="gh-wrt-idx" width="700px"/>
            <p><a href="{{site.baseurl}}/2015/12/13/wiki/#/">GitHub Wikiへ</a></p>
            <aside class="notes">
              <p>したがって、オープンソースのライブラリを使う最初のステップでは、私がWarranteeに入ったころにプログラムを読みふけっていたように、</p>
              <p>ライブラリの中身まで読んで理解する必要はありません。</p>
              <p>私はこのオープンソースの特性を社内でのプロジェクトマネジメントでも利用したいと思い、GitHub Wikiの利用を始めました。</p>
            </aside>
          </section>

        </div>
    </div>
    <script src="/vendor/lib/js/head.min.js"></script>
    <script src="/vendor/js/reveal.js"></script>

    <script src="/js/app.js"></script>

    <script src="/vendor/plugin/markdown/markdown.js"></script>
    <script src="/vendor/plugin/highlight/highlight.js"></script>
    <script src="/vendor/plugin/zoom-js/zoom.js"></script>
    <script src="/vendor/plugin/notes/notes.js"></script>
  </body>
</html>
